<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Manage Posts</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="AddPost()">
              <i class='fas fa-plus-circle'></i><span> ADD</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr class="center-align">
            <th>Message</th>
            <th>Username</th>
            <th>TimeStamp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of appComponent.postList" class="center-align">
            <td>{{ post.message }}</td>
            <td>{{ post.timeStamp }}</td>
            <td>{{ post.username }}</td>
            <td>
              <a href="#" [routerLink]="['/EditPost/', post.postId]" class="btn"><i class="fa fa-edit edit"></i></a>
              <button type="button" (click)="deletePostConfirmation(post)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
            </td>
          </tr>
          <tr>
            <td *ngIf="appComponent.postList.length == 0" colspan="6">No Posts Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
